/* Bamboo - custom css code */
/* Category Menu Page */
.category_menu {
	list-style-type: none;
}
.subcategory_menu {
	list-style-type: none;
	margin: 10px;
	cursor: pointer;
}
.recipients_list {
	list-style-type: none;
	cursor: pointer;
}
/* filtering */
.filtering_titles {
    display: inline-block !important;
}
.filtering_title {
    background-color: #537fc0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 10px;
}
.recipients_filter a i.fa, .sub_categories_filter i.fa {
    margin: 0 5px;
    color: #000;
    cursor: pointer;
}